<%= form_for current_receptionist, url: receptionist_edit_path, html: { method: :patch } do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  
  <br>
  
  <div class="actions">
    <%= f.submit "Edit receptionist" %>
  </div>
<% end %>