<%= simple_form_for @schedule_entry, url: schedule_path(id: @schedule_entry.id), method: :patch do |f| %>

  <div class="form-inputs">
    <%= f.input :title, required: true, autofocus: true %>
    <%= f.input :trainer, required: true %>
    <%= f.input :description, required: true %>
    <%= f.input :weekday, collection: weekdays, required: true %>
    <%= f.input :start_time, as: :time_picker, required: true %>
    <%= f.input :end_time, as: :time_picker, required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Edit schedule entry" %>
  </div>
<% end %>
</br>
<%= link_to "Back", schedule_index_path, class: "btn btn-default" %>
