<table class="table table-bordered">
  <caption>Schedule</caption>
  <thead>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </thead>
  <tbody>
    <tr>
      <% @schedule_entries.each do |schedule_for_day| %>
      <td>
        <% schedule_for_day.each do |schedule_entry| %>
          <b><%= schedule_entry.start_time.to_s(:time) %> - <%= schedule_entry.end_time.to_s(:time) %></b><br>
          <%= schedule_entry.title %><br>
          <%= schedule_entry.trainer %><br>
          <%= schedule_entry.description %><br>
          <% if admin_signed_in? %>
            <%= link_to "Remove this entry", schedule_path(id: schedule_entry.id), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-sm btn-primary" %>
            <hr>
          <% end %>
        <% end %>
      </td>
    <% end %>
    </tr>
  </tbody>
</table>

<% if admin_signed_in? %>
  <%= link_to "Create new schedule entry", new_schedule_path, class: "btn btn-primary" %>
<% end %>