<%= simple_form_for [:admin, @receptionist] do |f| %>

  <div class="form-inputs">
    <%= f.input :email, required: true %>
    <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false %>
    <%= f.input :password_confirmation, required: false %>
  </div>

  <br>

  <div class="form-actions">
    <%= f.button :submit, "Edit your data" %>
  </div>
<% end %>