<% if receptionist_signed_in? %>
  <li><%= link_to 'Dashboard', receptionist_dashboard_index_path %></li>
  <li><%= link_to 'Sign out', destroy_receptionist_session_path, :method=>'delete' %></li>
<% elsif user_signed_in? %>
  <li>Subscription <%= "not " if !current_user.is_subscription_active? %>active</li>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path %></li>
  <li><%= link_to 'Sign up', new_user_registration_path %></li>
<% end %>